@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */
.form-btn-primary {
  background-image: linear-gradient(to right, #4776e6 0%, #8e54e9 51%, #4776e6 100%);
  @apply block rounded-md shadow text-white duration-1000 uppercase text-center py-4 px-8 w-full disabled:opacity-25 disabled:cursor-not-allowed;
}

.form-btn-primary:hover {
  @apply text-white bg-right;
}

.form-btn-secondary {
  @apply block border-2 rounded-md shadow text-black duration-500 uppercase text-center py-4 px-8 w-full disabled:opacity-75 disabled:cursor-not-allowed;
}

.form-btn-secondary:hover {
  @apply bg-gray-200;
}

.form-input {
  @apply shadow appearance-none border rounded-md w-full p-4 text-gray-700 leading-tight focus:outline-none focus:shadow-lg;
}

.form-input-wrap {
  @apply block text-gray-700 text-xl font-bold mb-2 capitalize;
}

.layout-bottom {
  background-image: linear-gradient(110.6deg, rgba(179, 157, 219, 1) 7%, rgba(150, 159, 222, 1) 47.7%, rgba(24, 255, 255, 1) 100.6%);
  @apply min-h-screen flex flex-col items-start antialiased relative;
}

.layout-top {
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  height: 34rem;
  @apply absolute bg-gray-900 inset-x-0 top-0;
}

.content {
  @apply max-w-5xl my-0 mx-auto;
}

a {
  color: #333;
  text-decoration: none;
}

nav {
  @apply mt-3 mx-auto mb-20 flex justify-end items-end;
}

nav a {
  @apply ml-3;
}

nav .logo {
  @apply mr-auto;
}

.footer {
  @apply w-full h-24 border-t-2 border-white flex justify-center items-center;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
