/* @tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */

@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */
.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

.form-btn-blue {
  @apply bg-blue-600 text-white rounded p-4 w-full disabled:opacity-50 disabled:cursor-not-allowed;
}

.form-btn-white {
  @apply bg-white rounded p-4 w-full disabled:opacity-50 disabled:cursor-not-allowed;
}

.form-input {
  @apply rounded p-4 text-xl w-full;
}

.form-input-wrap {
  @apply block text-gray-200 text-3xl font-bold mb-2 capitalize;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
