@tailwind base;

/* Write your own custom base styles here */

@tailwind components;

body {
  @apply bg-gray-900 text-white;
}

/* Write your own custom component styles here */
.form-btn-primary {
  @apply block rounded-md shadow text-white bg-gray-700 duration-500 uppercase text-center py-4 px-8 w-full disabled:bg-gray-300 disabled:cursor-not-allowed;
}

.form-btn-primary:hover {
  @apply bg-gray-800 disabled:bg-gray-300 disabled:cursor-not-allowed;
}

.form-btn-secondary {
  @apply block border-2 rounded-md shadow text-black bg-white duration-500 uppercase text-center py-4 px-8 w-full disabled:bg-gray-300 disabled:cursor-not-allowed;
}

.form-btn-secondary:hover {
  @apply bg-gray-800 border-gray-800 text-white;
}

.form-btn-secondary:disabled {
  @apply cursor-not-allowed text-black bg-white border-gray-200;
}

.form-btn-group {
  @apply flex flex-row gap-4 my-3;
}

.form-input {
  @apply shadow appearance-none border rounded-md w-full p-4 text-gray-700 leading-tight focus:outline-none focus:shadow-lg;
}

.form-input-wrap {
  @apply block text-base font-light leading-relaxed mb-2 capitalize;
}

.button-label {
  @apply text-3xl font-semibold leading-snug mb-3 text-center;
}

.layout-wrap {
  @apply flex flex-col h-screen w-screen mx-auto;
}

.main-wrap {
  @apply flex-grow p-4;
}

.page-wrap {
  @apply flex flex-col justify-center h-full;
}

.section-break {
  background: linear-gradient(270deg, #a7a7a7 0%, #ffffff 100%);
  @apply w-20 h-1 my-2 rounded-lg bg-white md:w-36 md:my-5;
}

footer {
  @apply flex justify-center items-center w-full py-8 border-t-2;
}

.table {
  border-spacing: 0 15px;
}

.table tr {
  @apply rounded-sm;
}

.table td {
  @apply p-3 select-none;
}

@tailwind utilities;

/* Your own custom utilities */
